# 프로젝트에 필요한 도구 모음
# 터미널에서 pip install -r requirements.txt 실행 시 한 번에 설치됨



# ========= 백엔드 구축 =========

fastapi

# 백엔드 실행 도구
uvicorn

# BaseModel 정의 시 필요
pydantic

# EmailStr 로 email 형식 검증 시 필요
email-validator

# JWT 라이브러리
python-jose[cryptography]

dotenv

# ========== pytest ==========

# 테스트 실행 도구
pytest

# Python 에서 API request 보내는 도구
requests

# Python HTTP 요청 라이브러리
# (TestClient 가 내부적으로 httpx 를 사용해서 필요함)
httpx

# pytest 테스트 결과를 HTML 파일로 만들어주는 플러그인
pytest-html